<app-topo></app-topo>

<div *ngIf="jogoEmAndamento; else Derrota">
    <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>

<ng-template #Derrota>

    <h1 *ngIf="resultadoJogo == 'voce perdeu' else Vitoria" style="color:red; margin-top:20px; text-align: center; margin-bottom: 10px" >
        Você Perdeu :( <br>

        <div class="d-flex justify-content-center">
            <button class="btn btn-primary" (click)="reiniciarJogo()">Reiniciar Jogo</button>
        </div>
    </h1>

</ng-template>

<ng-template #Vitoria>

    <h1 style="color:green; text-align: center; margin-top:20px">

        Você Ganhou :)
    </h1>
    
    <div class="d-flex justify-content-center">
        <button class="btn btn-primary" (click)="reiniciarJogo()">Reiniciar Jogo</button>
    </div>
    
</ng-template>